<strong>Olá, {{ organizer }}</strong>
<p>Houve uma nova inscrição, confira os detalhes abaixo:</p>
<p>
  <strong>Meetup: </strong> {{ title }} <br />
  <strong>Data/hora: </strong> {{ date }} <br /><br />
  <strong>Inscrito: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
</p>

